#header{
background:#D9D9D9;
border:0.5vh solid #5C5C5C;
padding-top:0.1vh;
padding-left:0.5vw;
font-size: 4.5vmin;
margin:0.5vh 0.5vw 0.5vh 0.5vw;
height:5vh;
}
#menu{
background:#D9D9D9;
border:0.5vh solid #5C5C5C;
padding-top:0.1vh;
padding-left:0.5vw;
font-size: 3vmin;
margin:0.5vh 0.5vw 0.5vh 0.5vw;
float:left;
width:8vw;
min-height:30vh;
max-height:86vh;
}
#content{
background:#D9D9D9;
border:0.5vh solid #5C5C5C;
padding-top:0.1vh;
padding-left:0.5vw;
font-size: 3vmin;
margin:0.5vh 0.5vw 0.5vh 0.5vw;
width:86vw;
float:right;
overflow:auto;
height:86vh;
}
#footer{
background:#D9D9D9;
border:0.5vh solid #5C5C5C;
position:absolute;
bottom:0;
right:0;
left:0;
font-size: 2vmin;
padding-top:0.1vh;
padding-left:0.5vw;
height:3.2vh;
margin:0.5vh 0.5vw 0.5vh 0.5vw;
}
body{
background:#D9D9D9;
margin:0;
padding:0;
}